body {
    margin-top: 0;
    color: black;
    background-color: white;
    margin-right: 0px;
}
* {
	margin: 0;
	padding: 0;
}
.header {
    display: flex;
    height: 90px;
    background-color: #fc5dc8;
    color: black;
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header div {
	width: 150px;
}
.header .logo a:hover{
	cursor: pointer;
	text-decoration: none;
}
.header a{
	text-decoration: none;
	color: black;
}
.header .top:hover{
	text-decoration: none;
	background-color: black;
	color: white;
}
.header .logo{
    width: 180px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 10px;
    border-radius: 2px;
	margin-left: 50px;
}
header ,.home, .trending, .menu{
    width: 100px;
    color: black;
}
.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    text-decoration: underline;
    color: black;
}
.body {
    margin-top: 51px;
    padding-left: 10px;
}
.body img {
    height: 200px;
}
.img:hover {
    cursor: pointer;
}
.one-piece {
    display: flex;
}
.body img{
    height: 500px;
}
.body{
    display: flex;
	width: 100px;
}
.sum p{
    padding-left: 10px;
    text-align: justify;
}
/*Chapter codes*/
.chapter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding-left: 60px;
	margin-top: 40px;
	height: 400px;
}
.chapter img {
	height: 200px;
	height: 200px;
}
.chapter .chapter-container {
	display: flex;
}
.chapter div {
	font-family: roboto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 2px;
}
.anime-title {
	font-size: 20px;
	font-weight: bold;
	color: #383838;
}
.anime-title:hover {
	color: #f745bc;
}
.anime-chapter {
	border-style: solid;
	border-width: 1px;
	border-color: #383838;
	border-radius: 20px;
	color: #383838;
	width: 90px;
	font-size: 15px;
	font-family: roboto;
}
.anime-chapter:hover {
	color: white;
	background-color: #fab428;
	cursor: pointer;
	border: none;
}
.chapter a{
	text-decoration: none;
	color: #383838;
}
.chapter .chapter_background:hover{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
/*ANIME SUMMARY*/
.anime_summary {
	display: flex;
	height: 500px;
	background-color: #d6c9d2;
}
.anime_container {
	padding-top: 50px;
}
.summary_anime_title{
	font-size: 23px;
	margin-left: 120px;
	padding-top: 40px;
	color: #383838;
}
.anime_summary p{
	padding-left: 15px;
	text-align: justify;
	padding-right: 7px;
}
.summary_size {
	font-size: 25px;
	font-weight: bold;
	padding-top: 110px;
}
.summary_text {
	padding-top: 20px;
}
.anime_summary img{
	height: 300px;
	padding-left: 80px;
	padding-top: 30px;
}
/*FOOTER*/
footer{
	display: flex;
	height: 100px;
	color: gray;
	justify-content: center;
	align-items: center;
}
/*Demon Slayer Code*/
.anime_summary .demon-slayer {
			height: 300px;
			width: 205px;
}