body {
    margin-top: 0;
    color: black;
    background-color: white;
    margin-right: 0px;
}
* {
	margin: 0;
	padding: 0;
}
.header {
    display: flex;
    height: 90px;
    background-color: #fc5dc8;
    color: black;
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header div {
	width: 150px;
}
.header .logo{
    width: 180px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 10px;
    border-radius: 2px;
	margin-left: 50px;
}
.header a{
	text-decoration: none;
	color: black;
}
.header .top:hover{
	text-decoration: none;
	color: white;
}
.body {
    margin-top: 51px;
    padding-left: 10px;
	padding-right: 10px;
	height: 800px;
}
.body img {
    height: 300px;
}
body p {
    text-align: justify;
    justify-content: justify;
    font-family: arial;
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.body a{
	text-decoration: none;
	color: black;
}
.body div {
	padding-top: 10px;
}
.body a:hover{
	text-decoration: none;
	color: red;
}
.img:hover {
    cursor: pointer;
}
/* Anime Title*/
.container .title {
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
}
/*FOOTER*/
.footer {
	display: flex;
	height: 100px;
	color: gray;
	justify-content: center;
	align-items: center;
}
